.btn-primary {
  cursor: pointer;
  border-radius: 0.125rem;
  background-image: linear-gradient(to right, #ec4899, #f87171);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}

.btn-secondary {
  cursor: pointer;
  border-radius: 0.125rem;
  background-color: rgb(79 70 229);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}

nav:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 16rem;
  width: 16rem;
  background: #4a61dd;
  opacity: .3;
  filter: blur(100px);
  z-index: -1;
}

.nav-active:checked~.nav__options {
  display: flex;
}

.nav-active:checked~.nav__toggle span {
  text-decoration: underline;
  text-underline-offset: .3rem;
  color: black;
  position: fixed;
}

.nav-active:checked~.nav__underlay {
  display: block;
}